{# Base Template #}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}Home{% endblock %} | Kouyou</title>
</head>
<style type="text/css">

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
}

.post-topic {
  color: #0F0C5D;
  font-weight: 800;
}

.post-author {
  color: #117743;
  font-weight: 800;
}


</style>
<body>
  Board List</br>
  <ul>
  {% for board in boards %}
    <li><a href="/{{ board.board_code }}">{{ board.fullname }}</a></li>
  {% endfor %}
  </ul>
  {% block content %}{% endblock %}
</body>
</html>
